@import "https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap";
// @import url("../fonts/fontello.woff");
// @font-face {
//   font-family: "fontello";
//   src: url("../fonts/fontello.eot") format("embedded-opentype"),
//     url("../fonts/fontello.woff") format("woff2"),
//     url("../fonts/fontello.woff") format("woff"),
//     url("../fonts/fontello.ttf") format("truetype"),
//     url("../fonts/fontello.svg") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "fontello";
//   src: url("../fonts/fontello.eot") format("embedded-opentype"),
//     url("../fonts/fontello.woff2") format("woff2"),
//     url("../fonts/fontello.woff") format("woff"),
//     url("../fonts/fontello.ttf") format("truetype"),
//     url("../fonts/fontello.svg") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
