$navy: #656980;
$coral: #ff4343;
$red: #e71414;
$black: #2d3033;
$plum: #5c3249;
$bg-color: #e5e5e5;
$bg-contact-color: #353c65;
$bg-footer-color: #2c3154;
$footer-grey: #808080;
$white: #fff;
$text-grey: #6c7279;
$link-grey: #c6cbcd;
