// for links in navigation
@mixin nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: $white;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.5s;
  padding: 0 10px;
  &:hover {
    border: none;
    border-bottom: 3px solid $white;
    padding: 0 15px 2rem;
  }
  @media (max-width: 576px) {
    font-size: 2rem;
    line-height: 3rem;
  }
}

// for all buttons
@mixin button-block {
  width: 350px;
  margin: auto;
  // height: 3.125rem;
  // margin: 0 auto 4rem;
  @media (max-width: 767px) {
    width: 300px;
  }
  @media (max-width: 400px) {
    width: 80%;
  }
}

@mixin button {
  padding: 15px 25px;
  @include bold-text;
  color: $white;
  background-color: $coral;
  display: block;
  transition: 0.5s;
  line-height: 35px;
  &:hover {
    background-color: $red;
  }
  &.active {
    box-shadow: 1px 1px 20px $coral;
  }
}

// fir icons in advantages
@mixin icon {
  display: block;
  font-family: "icomoon";
  content: "";
  font-size: 7rem;
  // line-height: 8rem;
  color: $coral;
  // @media (max-width: 767px) {
  //   font-size: 6rem;
  // }
}

@mixin link-li {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 5px 0 0;
  border: 1px solid $link-grey;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  // &:last-child {
  //   margin: 0;
  // }
  @media (max-width: 992px) {
    width: 2rem;
    height: 2rem;
  }
  @media (max-width: 360px) {
    width: 3rem;
    height: 3rem;
    margin: 0 10px 0 0;
  }
}

@mixin link-a {
  // padding: 15px 15px;
  &:hover .fa-facebook-f {
    color: #3b5998;
    transition: 0.5s;
  }
  &:hover .fa-twitter {
    color: #00acee;
    transition: 0.5s;
  }
  &:hover .fa-linkedin {
    color: #0072b1;
    transition: 0.5s;
  }
}

@mixin link-i {
  font-size: 1.75rem;
  color: $link-grey;
  transition: 0.5s;
  @media (max-width: 992px) {
    font-size: 1.25rem;
  }
  @media (max-width: 360px) {
    font-size: 2rem;
  }
}

@mixin bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
