.section-advantagens {
  background-color: $white;
}
.container-advantages {
}
.advantages-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  justify-content: space-between;
  @media (max-width: 1200px) {
    justify-content: space-around;
  }
  @media (max-width: 360px) {
    margin: 0;
  }
}
.advantages-card {
  max-width: 325px;
  margin: 0 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  @media (max-width: 992px) {
    max-width: 275px;
  }
  @media (max-width: 678px) {
    max-width: 225px;
    padding-top: 30px;
  }
  @media (max-width: 567px) {
    max-width: 175px;
  }
  @media (max-width: 455px) {
    max-width: 80%;
  }
}
.advatages-card__img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  @media (max-width: 767px) {
    width: 80px;
    height: 80px;
  }
  // @media (max-width: 576px) {
  //   width: 6rem;
  //   height: 6rem;
  // }
}

.advantages-card__name {
  @include bold-text;
  color: $black;
  line-height: 6rem;
  @media (max-width: 992px) {
    font-size: 1.25rem;
    line-height: 6rem;
  }
  @media (max-width: 400px) {
    font-size: 1.25rem;
  }
}
.advantages-card__description {
  text-align: center;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: $text-grey;
  padding: 0 5px;
  @media (max-width: 992px) {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  @media (max-width: 576px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
#img-pencil::after {
  @include icon;
  content: "\e900";
}
#img-tv::after {
  @include icon;
  content: "\e901";
}
#img-bulb::after {
  @include icon;
  content: "\e902";
}
#img-star::after {
  @include icon;
  content: "\e903";
}
#img-check::after {
  @include icon;
  content: "\e904";
}
#img-basket::after {
  @include icon;
  content: "\e905";
}
